In [111]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Objective: To understand how turnover affects profit in Las Vegas from 2015 - 2022

In [112]:
data = pd.read_csv("data.csv")

In [113]:
data.head()

,Unnamed: 0,Type,Date,Num,Name,Memo,Clr,Split,Amount,Balance
0,CHASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Check,12/17/14,NaN,FRANCHISE TAX BOARD,2014 chase chk #444,X,LLC Tax,-800.0,-800.0
2,NaN,Deposit,12/30/14,NaN,"GoldenWest Management, Inc",1828 BRIGHT LEAF 2014,X,Rental Income,12540.0,11740.0
3,NaN,Check,12/30/14,NaN,"GoldenWest Management, Inc",BRIGHT LEAF 2014,X,Management Fees,-900.0,10840.0
4,NaN,Check,12/30/14,NaN,State Farm Fire and Casualty Company,BRIGHT LEAF 2014,X,Insurance Expense,-532.0,10308.0

In [114]:
data["Date"] = pd.to_datetime(data["Date"])

In [115]:
data["Year"] = (data["Date"].apply(lambda x: x.year))

In [116]:
df = data.loc[data["Year"].isin(np.arange(2015, 2022+1))]
df = df.loc[df["Type"].isin(["Deposit", "Check"])]

In [128]:
df["is_brightleaf"] = df["Memo"].str.lower().str.contains("bright|leaf")

In [129]:
df

,Unnamed: 0,Type,Date,Num,Name,Memo,Clr,Split,Amount,Balance,Year,is_brightleaf
13,NaN,Deposit,2015-01-01,NaN,"GoldenWest Management, Inc",1/2015 Bright Leaf,X,Rental Income,1050.0,6157.03,2015.0,True
14,NaN,Check,2015-01-01,NaN,"GoldenWest Management, Inc",1/2015 Bright Leaf,X,Management Fees,-75.0,6082.03,2015.0,True
15,NaN,Deposit,2015-01-01,NaN,"GoldenWest Management, Inc",1/2015 Fort Pike,X,Rental Income,1550.0,7632.03,2015.0,False
16,NaN,Check,2015-01-01,NaN,"GoldenWest Management, Inc",1/2015 Fort Pike,X,Management Fees,-100.0,7532.03,2015.0,False
17,NaN,Check,2015-01-05,NaN,State Farm Fire and Casualty Company,1828 Bright Leaf 1/28/2015 to 1/28/2016,X,Insurance Expense,-536.0,6996.03,2015.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
659,NaN,Deposit,2022-08-02,NaN,"GoldenWest Management, Inc",Fort Pike,X,Rental Income,35.0,13062.31,2022.0,False
660,NaN,Check,2022-08-02,NaN,"GoldenWest Management, Inc",Fort Pike,X,Management Fees,-175.0,12887.31,2022.0,False
661,NaN,Check,2022-08-15,NaN,"GoldenWest Management, Inc",renew bright leaf,NaN,Management Fees,-150.0,12737.31,2022.0,True
662,NaN,Check,2022-09-11,NaN,ELDORADO THIRD CA,chk #610 Bright Leaf,NaN,Community Association Fee,-69.0,2843.31,2022.0,True
663,NaN,Check,2022-09-11,NaN,MOUNTAINS EDGE MASTER ASSOCIATION,chk #551 Fort Pike,NaN,Community Association Fee,-192.0,2651.31,2022.0,False

In [130]:
df["is_fort_pike"] = df["Memo"].str.lower().str.contains("fort|pike")

In [132]:
def selector(row):
    if row["is_brightleaf"]:
        return "bright leaf"
    elif row["is_fort_pike"]:
        return "fort pike"
    else:
        return None

In [133]:
df["Property"] = df.apply(selector, axis=1)

In [134]:
df

,Unnamed: 0,Type,Date,Num,Name,Memo,Clr,Split,Amount,Balance,Year,is_brightleaf,is_fort_pike,Property
13,NaN,Deposit,2015-01-01,NaN,"GoldenWest Management, Inc",1/2015 Bright Leaf,X,Rental Income,1050.0,6157.03,2015.0,True,False,bright leaf
14,NaN,Check,2015-01-01,NaN,"GoldenWest Management, Inc",1/2015 Bright Leaf,X,Management Fees,-75.0,6082.03,2015.0,True,False,bright leaf
15,NaN,Deposit,2015-01-01,NaN,"GoldenWest Management, Inc",1/2015 Fort Pike,X,Rental Income,1550.0,7632.03,2015.0,False,True,fort pike
16,NaN,Check,2015-01-01,NaN,"GoldenWest Management, Inc",1/2015 Fort Pike,X,Management Fees,-100.0,7532.03,2015.0,False,True,fort pike
17,NaN,Check,2015-01-05,NaN,State Farm Fire and Casualty Company,1828 Bright Leaf 1/28/2015 to 1/28/2016,X,Insurance Expense,-536.0,6996.03,2015.0,True,False,bright leaf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,NaN,Deposit,2022-08-02,NaN,"GoldenWest Management, Inc",Fort Pike,X,Rental Income,35.0,13062.31,2022.0,False,True,fort pike
660,NaN,Check,2022-08-02,NaN,"GoldenWest Management, Inc",Fort Pike,X,Management Fees,-175.0,12887.31,2022.0,False,True,fort pike
661,NaN,Check,2022-08-15,NaN,"GoldenWest Management, Inc",renew bright leaf,NaN,Management Fees,-150.0,12737.31,2022.0,True,False,bright leaf
662,NaN,Check,2022-09-11,NaN,ELDORADO THIRD CA,chk #610 Bright Leaf,NaN,Community Association Fee,-69.0,2843.31,2022.0,True,False,bright leaf
663,NaN,Check,2022-09-11,NaN,MOUNTAINS EDGE MASTER ASSOCIATION,chk #551 Fort Pike,NaN,Community Association Fee,-192.0,2651.31,2022.0,False,True,fort pike

In [ ]:
contains leaf or bright in case one is misspelled

In [83]:
df.drop(["Unnamed: 0", "Date", "Num", "Clr", "Balance"], axis=1, inplace=True)

In [ ]:
Split = ["Rental Income", "Management Fees", "Community Association Fee", "Insurance Expense", "Repairs and Maintenace", "LLC Tax", "Utilities"]

In [ ]:
If looking at community association fee for Fort Pike look at "MOUNTAINS EDGE MASTER ASSOCIATION"

Clark county water reclamation is fort pike